dataBase: "SQLite" # Доступны: SQLite, MySQL, H2, PostgreSQL

host: "localhost"
port: 3306
username: "root"
password: "root"
playerDatabase: "players"
questDataBase: "quests"

questReloadHour: 6
questReloadMinute: 0

dayQuestValues:
  - 16
  - 32
  - 64
  - 128
weekQuestValues:
  - 256
  - 512
  - 1024
  - 2048
exp:
  name: "&9Подбери"
  map:
    DIAMOND_ORE: "опыта"
breakBlocks:
  name: "&9Сломай"
  map:
    DIAMOND_ORE: "алмазной руды"
    IRON_ORE: "железной руды"
    COAL_ORE: "угольной руды"
killMobs:
  name: "&9Убей"
  map:
    ZOMBIE: "зомби"
    SKELETON: "скелетов"
    CREEPER: "криперов"
eat:
  name: "&9Съешь"
  map:
    GOLDEN_APPLE: "золотых яблок"
craftItems:
  name: "&9Скрафти"
  map:
    DIAMOND_CHESTPLATE: "алмазных нагрудников"
placeBlocks:
  name: "&9Поставь"
  map:
    DIAMOND_ORE: "алмазной руды"
    IRON_ORE: "железной руды"
    COAL_ORE: "угольной руды"

message:
  setUsage: "&6Используй: &f/nbattlepass set [Игрок] [Количество]"
  giveUsage: "&6Используй &f/nbattlepass give [Игрок]"
  playerDontOnline: "&cИгрок не онлайн!"
  successfullySet: "&aВы изменили опыт игрока %player% на %exp%"
  successfullyClear: "&aБазы данных успешно очищены!"
  successfullyGive: "&aПодписка успешно выдана!"
  addUsage: "&6Используй &f/nbattlepass add [Уровень] [Тип]"
  unknownType: "&cНеизвестный тип, доступные: DEFAULT/SUBSCRIBE"
  notDigit: "&cУровень не является цифрой!"
expForWeek: 1150
expForDaily: 230
tokensForDaily: 75
tokensForWeek: 125

